/*Barra de navegacion*/

.navbar{
    padding: 2rem;
    background-color: #f5f6f7;

}

.navbar-collpase{
    align-items: center;
    justify-content: space-between;
}


.hero{
    background-color: #f5f6f7;
    min-height: 450px; 
    text-align: center;
}

.hero-principal{
    padding: 3rem;
}

.hero-principal h1{
    animation: slideInFromBottom 0.7s ease-in-out;
}

.hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
    animation: slideInFromBottom 0.7s ease-in-out;
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(40%);
    }
    to {
        transform: translateY(0);
    }
}

.img-perfil{ /*Imagen de perfil*/
    width: 200px;
    height: 200px;
    margin: 20px;
    animation: slideInFromBottom 0.4s ease-in-out;
}

.seccion-oscura{
    color: white;
    background: linear-gradient(135deg, #1b1b32 0%, #121f5c 100%);
}

.seccion-clara{
    color: black;
    background-color: white;
}

.seccion-titulo{
    margin-top: 20px;;
    font-size: 2.5rem;
    padding: 15px 0;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.seccion-titulo::after{
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: white;
    margin: 20px auto 0;
}

.seccion-descripcion
{
    font-size: 1.2rem;
    color: #808080;
}

.seccion-texto{
    padding: 10px;

}

.texto-negro{
    color:#0a0a23;
}

.texto-blanco{
    color: white;
}

/*Secciones generales*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}

/*Sobre mi*/

.sobre-mi{
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor{
    text-align: center;
    max-width: 600px;
}

/*Experiencia*/

.experiencia{
    padding: 40px;

}   

.experiencia .columna{
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.experiencia .row div{
    height: 350px;
}

.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia i{
    font-size: 2.5rem;
    color: white;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.badges-contenedor{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}


/*Proyectos*/
.proyectos-recientes .container {
  margin-top: 30px; 
}

.proyectos-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px 0;
    margin-top: 40px;
}

.proyectos-card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  border: 2px solid transparent;
  height: 100%; 
}

.proyectos-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    border-color: #121f5c;
}

.proyectos-card:hover::before{
    left: 100%
}

.proyectos-emoji{
    font-size: 4rem;
    margin-bottom: 20px;
    display: block;
    animation: rotate 2s ease-in-out infinite alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(1deg);
    }
}

.proyectos-name{
    font-size: 1.5rem;
    font-weight: bold;
    color: #121f5c;
    margin-bottom: 20px;
}

.proyectos-name:hover .product-name{
    color: #121f5c;
}

.proyectos-sub{
    font-size: 1.2rem;
    color: #121f5c;
    margin-bottom: 20px;
    position: relative;
}

.proyectos-description{
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.5;
}

/*Contacto*/

.contact{
    margin-top: 100px;
    padding: 40px 0;
    background: linear-gradient(135deg, #1b1b32 0%, #121f5c 100%);
    padding: 80px 0;
    color: white;
    text-align: center;
}

.contact .section-title{
    color: white;
}

.contact-info{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 40px;
}


.contact-item{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
    backdrop-filter: blur(10px);
    padding: 25px;
    gap: 20px;
    transition: transform 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.contact-item:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.contact-emoji{
    font-size: 1.5rem;
    margin-bottom: 20px;
}


/*Adaptable (responsivo)*/

@media screen and (max-width: 767px){
    .navbar-brand{
        display:none;
    }
}

@media screen and (min-width: 700px){
    .hero-inferior-img{
        max-width: 600px;
    }
}

